.rq-accordions {
  position: relative;
  .panel {
    border-radius: 0;
    box-shadow: none;
    border-color:  #f0f0f0;
    margin-bottom: @rq-margin-base;
  }
  .panel-body {
    padding: @rq-padding-base * 2;

  }
  .panel-heading {
    padding: 0;
    border-radius: 0;
    background: transparent;
    h4 {
      a {
        display: block;
        padding: @rq-padding-small - 5;
        position: relative;
        padding-left: @rq-padding-large * 3;
        font-size: @rq-font-size-base + 2;
        .text-uppercase;
        font-weight: normal;
        border-bottom: 1px solid #f0f0f0;
        &.collapsed {
          border-bottom: 1px solid transparent;
          i {
            background: #f0f0f0;
            color: @rq-text-color-light-dark;
          }
          &:before {
            content: "\4c";
            color: @rq-text-color-dark;
          }
        }
        i {
          width: 55px;
          position: absolute;
          height: 103%;
          left: -1px;
          top: -1px;
          .text-center;
          display: flex;
          justify-content: center;
          align-items: center;

          background-color: @rq-primary-color;
          color: @rq-text-color-white;
        }
        &:before {
          content: "\4b";
          color: @rq-primary-color;
          font-family: 'ElegantIcons';
          position: absolute;
          right: 0;
          top: 0;
          height: 101%;
          width: 50px;
          font-size: @rq-font-size-h3;
          text-align: center;
          border-left: 1px solid #f0f0f0;
          background: transparent;
          display: flex;
          justify-content: center;
          align-items: center;


        }
      }
    }
  }
}

.panel-default > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: transparent;
}
.panel-collapse.collapsing {
  position: relative;
  transition: height .4s;
  overflow: hidden;
}
.panel-collapse.collapse {
  overflow: hidden;
  height: 0;
}
.panel-collapse.collapse.in {
  height: auto;
  overflow: visible;
}

